'<div data-thr-id="{{ thread.id }}">'+
    '<div class="">'+
        '<div class="thr-hd">'+
            '<div class="thr-participant">'+
                {% set user = app.user %}
                {% if thread.otherParticipants(user)|length > 2 %}
                    {% set other = thread.otherParticipants(user)|length - 1 %}
                    {% set firstPartic = thread.otherParticipants(user)[0] %}
                    {% set secondPartic = thread.otherParticipants(user)[1] %}
                            {% if other == 1 %}
                               '<a href="" class="thr-frt-part">{{firstPartic.firstname}}</a> and <a href="" class="">{{secondPartic.firstname}}</a>'+
                            {% elseif other > 1 %}
                                '<a href="" class="thr-frt-part">{{firstPartic.firstname}} {{firstPartic.lastname}}</a> and <a href="" class="thr-othr-part-">'+ {{other}} persons </a>'+
                            {% else %}
                                '<a href="" class="thr-frt-part">{{firstPartic.firstname}} {{firstPartic.lastname}}</a>'+
                            {% endif %}
                {% elseif thread.otherParticipants(user)|length == 1 %}
                    {% set firstPartic = thread.otherParticipants(user)[0] %}
                        '{{firstPartic.firstname}} {{firstPartic.lastname}}'+
                {% else %}
                    'rien'+
                {% endif %}
            '</div>'+
            '<div class="thr-crted-dte">{{ thread.createdAt|date('Y-m-d') }}</div>'+
        '</div>'+
        '<div class="">'+
            {% for message in thread.messages %}
                {% if message.sender.id == user.id %}
                    '<div class="msg-dv-th self-msg">'+
                        '<span class="thr-msg-lft">'+
                            '<a href="{{message.sender.username}}" class="a-msg-sdr">'+
                                '<img  src="{{asset(user.profilePic.WebPath|default(""))}}" class="thd-msg-pic" style="" />'+
                            '</a>'+
                        '</span>'+
                        '<span class="thr-msg-rght">'+
                            '<span class="sp-msg-sdr">'+
                                '<a href="{{message.sender.username}}" class="a-msg-sdr">{{message.sender.firstname}} {{message.sender.lastname}}</a>'+
                                '<span href="#" class="msg-tp-rght">'+
                                    '<span href="#" class="msg-date">{{message.createtAt|date('Y-m-d')}}</span>'+
                                    '<a href="#" class="msg-config"><i class="fa fa-cog" aria-hidden="true"></i></a>'+
                                '</span>'+
                            '</span>'+
                            '<span class="sp-msg-bdy ">{{ message.body }}</span>'+
                        '</span>'+
                    '</div>'+
                {% else %}
                    '<div class="msg-dv-th part-msg">'+
                        '<span class="thr-msg-lft">'+
                            '<a href="{{message.sender.username}}" class="a-msg-sdr">'+
                                '<img  src="{{asset(user.profilePic.WebPath|default(""))}}" class="thd-msg-pic" style="" />'+
                            '</a>'+
                        '</span>'+
                        '<span class="thr-msg-rght">'+
                            '<span class="sp-msg-sdr">'+
                                '<a href="{{message.sender.username}}" class="a-msg-sdr">{{message.sender.firstname}} {{message.sender.lastname}}</a>'+
                                '<span href="#" class="msg-tp-rght">'+
                                    '<span href="#" class="msg-date">{{message.createdAt|date('Y-m-d')}}</span>'+
                                    '<a href="#" class="msg-config"><i class="fa fa-cog" aria-hidden="true"></i></a>'+
                                '</span>'+
                            '</span>'+
                            '<span class="sp-msg-bdy ">{{ message.body }}</span>'+
                        '</span>'+
                    '</div>'+
                {% endif %}
            {% endfor %}
        '</div>'+
    '</div>'+
'</div>'+
''
