<nav  class="mobile navbar navbar-inverse navbar-fixed-top">
	<div class="container">
        <div class="container-a">
    		<div class="link-ctnr">
                <a href="{{path('mobile_homepage')}}" class="mob-nav-link">Opinion</a>
            </div>
            {#
            <!-- <div class="link-ctnr">
                <a href="{{path('mobile_inbox')}}" class="mob-nav-link">Opinion</a>
            </div>
            <div class="link-ctnr">
                <a href="{{path('mobile_opinion')}}" class="mob-nav-link">Opinion</a>
            </div>
            <div class="link-ctnr">
                <a href="{{path('mobile_notifications')}}" class="mob-nav-link">Opinion</a>
            </div>
            <div class="link-ctnr">
                <a href="{{path('mobile_invitations')}}" class="mob-nav-link">Opinion</a>
            </div>
            <div class="link-ctnr">
                <a href="{{path('mobile_profile')}}" class="mob-nav-link">Opinion</a>
            </div> -->
            #}
        </div>
        <div class="nav-ctnr">
            
        </div>
    </div>
</nav>