<h1>Document</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ document.id }}</td>
        </tr>
        <tr>
            <th>Alt</th>
            <td>{{ document.alt }}</td>
        </tr>
        <tr>
            <th>Path</th>
            <td>{{ document.path }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ document.size }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ document.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updateat</th>
            <td>{{ document.updateAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('document') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('document_edit', { 'id': document.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('document_delete', { 'id': document.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
