<h1>Unliker</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ document.id }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ document.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Unlike</th>
            <td>{{ document.unlike }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ document.author }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('unliker') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('unliker_edit', { 'id': document.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('unliker_delete', { 'id': document.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
