''+
'<div id="" class="in-top-a">'+
    '<div class="in-top-b">'+
        '<div class="in-top-content">'+
            '<div class="cov-a">'+
                '<div class="cov-b">'+
                    '<img alt="" class="cov_pic_show" src="{{asset (thisUser.coverPic.croppedPath|default("/images/favicon.ico"))}}" id=""/>'+
                '</div>'+
            '</div>'+
            '<div class="in-top-plus-a">'+
                '<div class="pro-pic-show">'+
                    '<img alt="" src="{{asset (thisUser.profilePic.croppedPath|default("/images/favicon.ico"))}}" class="in-top-plus-pic">'+
                '</div>'+
                '<div class="in-top-plus-rgt-ctnr">'+
                    '<div class="in-top-plus-rgt-ctnr-a">'+
                        '<div class="in-top-name">'+
                            '<span>{{thisUser.firstname}}</span>'+
                            '<span>{{thisUser.lastname}}</span>'+
                        '</div>'+
                        '<div class="in-top-sts-ctnr">'+
                            '<i class="fa fa-quote-left" aria-hidden="true"></i>'+
                            '<span class="sts-txt">'+
                                '{{thisUser.status |default('default status text for user difhdiofd iopjfzrifjzr iogpjgreig ieopjgeàipeog gioje)àgi)ejtogketpog')}}'+
                            '</span>'+
                            {% if app.user is same as (thisUser) %}
                                '<a href="" class="edt-status"><i class="fa fa-pencil" aria-hidden="true"></i></a>'+
                            {% endif %}
                        '</div>'+
                    '</div>'+
                    '<div class="in-top-plus-plus">'+
                        '<div class="in-top-plus-plus-a">'+
                        {% if app.user != thisUser %}
                            '<div class="spa-in-add-freind">'+
                                '<button class="link-add-freind btn btn-sm btn-default" data-username="{{thisUser.username}}" data-userid="{{thisUser.id}}">'+
                                    '<i class="fa fa-user-plus"></i>'+
                                    '<span>Add</span>'+
                                '</button>'+
                            '</div>'+
                            '<div class="spa-in-sd-message">'+
                                '<button class="btn-in-sd-message btn btn-sm btn-default">'+
                                    '<i class="fa fa-envelope"></i>'+
                                    '<span>Message</span>'+
                                '</button>'+
                            '</div>'+        
                        {% endif %}
                        '</div>'+
                    '</div>'+
                '</div>'+
            '</div>'+
        '</div>'+
    '</div>'+
'</div>'+
''
